<body class="flex flex-col min-h-screen">
    <app-navbar> </app-navbar>

    <main class="main flex-grow py-[30px]">
        <div class="md:pr-[30px] pb-[20px] text-[var(--color-text-dark)] font-medium text-center md:text-right">
            Want
            something
            custom?
            Submit a request
            and
            let's chat.</div>
        <div class="primary-button w-40 mx-auto md:ml-auto md:mr-[30px]">Submit Request</div>
    </main>

    <app-banner> </app-banner>
    <app-footer> </app-footer>
</body>

<router-outlet />